.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(238, 74, 74);
    .title{
        font-size: 4rem;
        font-family: 'Acme', sans-serif;
    }
    h4{
        font-family: 'Acme', sans-serif;
    }
    .board{
        width: 60%;
        height: 60%;
        display: grid;
        border: 2px solid black;
        margin-bottom: 2rem;
    }
}